@import '../../../styles/variable.scss';

$module: layout;
// 页面内容宽度
$pageBodyWidth: 1040;

.#{$module} {
  &-body {
    width: #{$pageBodyWidth}px;
    margin: 0 auto;
  }
}

/* 覆盖antd 样式 */
.ant-menu-horizontal {
  border: none;
}
