@import '../../../styles/variable.scss';

.footer {
    &-wrapper {
        color: $thirdFontColor;
        padding: #{$inner-block-padding}px;
        width: #{$pageBodyWidth}px;
        margin: #{$block-space}px auto;
        overflow: hidden;
        zoom: 1;
        border-top: 1px dashed $mainBorderColor;
        font-size: #{$font-xs}px;
    }

    &-icp {
        float: left;
    }

    &-links {
        float: right;
    }

    a {
        
    }
}