@import '../../../styles/variable.scss';

.nav-primary-wrapper {
    background: $navBG;
    height: 30px;
    // border-bottom: 1px solid $mainBorderColor;

    .menu {
      padding: 0 10px;
      height: 30px;
      line-height: 30px;

      &-item {
        padding: 0 6px;

        a {
            color: $mainFontColor;
        }
      }
    }

    .info {
      height: 30px;
      line-height: 30px;
      float: right;
    }

    li {
      display: inline-block;
    }
}