$module: app-loading;
$spinSize: 20;

.#{$module} {
  // position: absolute;
  z-index: 10;
  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #aaa;
    opacity: .4;
  }
  &-spin-anchor {
    position: absolute;
    top: 50%;
    left: 50%;

  }
  &-spin-wrapper {
    width: #{$spinSize}px;
    height: #{$spinSize}px;
    margin-left: #{-1 * $spinSize / 2}px;
    margin-top: #{-1 * $spinSize / 2}px;
  }
}
