{
  "presets": [
    "es2015",
    "es2017"
  ],
  "plugins":[
      ["import", {
        "libraryName": "antd",
        "style": true,   // or 'css'
      }],
      ["transform-runtime", {
        "polyfill": false,
        "regenerator": true 
      }]
    ]
}
