{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-type-no-unknown": null,
    "declaration-empty-line-before": [ "never", {
      "ignore": ["after-comment", "after-declaration", "first-nested", "inside-single-line-block"]
    } ],
    "at-rule-no-unknown": null,
    "no-eol-whitespace": [true, { "ignore": ["empty-lines"] }]
  }
}
