@import '../../../styles/mixin.scss';
@import '../../../styles/variable.scss';

// --------------------------------------
// --------- acconting style ------------
// --------------------------------------
.accounting-rule {

    .sider-content {
        position: relative;

        .sider-nav-anchor {
            top: 0;
            right: 0;
        }
    }

    &-text {
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 8px;
            text-align: center;
        }

        p {
            margin-bottom: 8px;
        }

        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
        }
    }

    .gp-rule {
        padding: #{$inner-block-padding}px;
        margin-bottom: 20px;
        background-color: $blockNormalBG;
    }

    .sp-rule {
        padding: #{$inner-block-padding}px;
        background-color: $blockNormalBG;

        &-title {
            margin-top: 10px;
        }

        &-item {
            padding: 4px;
        }
    }
}

.subjectCategory {
    &-wrapper {
        padding: #{$inner-block-padding}px;
        background-color: $blockNormalBG;
    }

    &-body {
        margin-top: #{$block-space}px;
    }
}

.reports {
    &-wrapper {
        padding: #{$inner-block-padding}px;
        background-color: $blockNormalBG;

        .report {
            &-item {
                &-text {
                    margin: #{$block-space}px 0;
                }
            }
        }
    }
}
