@import './variable.scss';

$module: category;

.#{$module} {
  &-bar {
    position: relative;
    margin-bottom: 10 * $rex;
    height: 30 * $rex;
    line-height: 30 * $rex;

    .ant-input-affix-wrapper {
      width: 160px;
    }

    .setting {
      margin-left: 10px;
    }

    .expand {
      position: absolute;
      top: 2 * $rex;
      right: 0;
      // float: right;
    }
  }

  &-tree {
    background-color: $pageBG;
    overflow: auto;
  }
}
