@import './mixin.scss';
@import './variable.scss';

.inline-block {
  display: inline-block;
  margin-right: 10px;
}

.pos-right {
  position: absolute;
  right: 0;
}

.wordQ {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

.acc-table {
  table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333;
    width: 100%;
    border-width: 1px;
    border-color: $assisBorderColor;
    border-collapse: collapse;

    th {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: $assisBorderColor;
      background-color: $pageBG;
    }

    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: $assisBorderColor;
      background-color: $bodyBG;
    }
  }
}

.vertical-align {
  font-size: 0;

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
  }

  &-middle {
    display: inline-block;
    font-size: 1rem;
    max-width: 100%;
    vertical-align: middle;
  }
}

.threaded-conversation-acc {
  position: relative;

  &::before,
  &::after {
    bottom: 10px;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    content: "";
    left: 38px;
    position: absolute;
    width: 0;
    // z-index: 1;
  }

  &::before {
    top: -5px;
    height: 10px;
  }

  &::after {
    top: 52px;
    bottom: 0;
  }
}

.threaded-conversation-first-acc {
  position: relative;

  &::after {
    bottom: 10px;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    content: "";
    left: 38px;
    position: absolute;
    width: 0;
    // z-index: 1;
  }

  &::after {
    top: 52px;
    bottom: 0;
  }
}

.threaded-conversation-last-acc {
  position: relative;

  &::before {
    bottom: 10px;
    border-color: #1da1f2;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    content: "";
    left: 38px;
    position: absolute;
    width: 0;
    // z-index: 1;
  }

  &::before {
    top: -5px;
    height: 10px;
  }
}

.u-hiddenVisually {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  font-size: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
