@import './mixin.scss';
@import './variable.scss';

.inline-block {
  display: inline-block;
  margin-right: 10px;
}

.pos-right {
  position: absolute;
  right: 0;
}

.wordQ {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

.acc-table {
  table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333;
    width: 100%;
    border-width: 1px;
    border-color: $assisBorderColor;
    border-collapse: collapse;

    th {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: $assisBorderColor;
      background-color: $pageBG;
    }

    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: $assisBorderColor;
      background-color: $bodyBG;
    }
  }
}

.acc-back-top {
  .iconfont {
    @include font-size-48();

    color: $color5;

    &:hover {
      color: $color5hover;
    }
  }
}
