$module: grid;

.#{$module}-bar {
  &-grid-header {
    margin-bottom: 10px;
  }

  &-searchbox {
    display: inline-block;
    width: 200px;
  }

  &-search-kw {
    display: inline-block;
    margin-left: 20px;
  }
}

.#{$module}-operator {
  text-align: center;

  &-button {
    margin-right: 5px;
  }
}
