$module: grid;

.#{$module}-bar {
  position: relative;

  &-grid-header {
    margin-bottom: 10px;
  }

  &-search {
    display: inline-block;

    &-input {
      display: inline-block;
      width: 200px;
    }
  }

  &-category {
    display: inline-block;
  }

  &-search-kw {
    display: inline-block;
    margin-left: 20px;
  }
}

.#{$module}-operator {
  text-align: center;

  &-button {
    margin-right: 5px;
  }
}
