/* import antd style. you can remove next line if you use babel-plugin-antd */
@import 'antd/dist/antd.css';

/* we need import layout here,it override some antd styles */
@import './layout.css';

/* import public variable */

/* @import './variable.css'; */

/* ******import modules style****** */

/* @import "./warehouse.less"; */
@import "./warehouse.scss";
@import "./category.scss";

/* import style of grid */
@import "./grid.scss";
@import "./components/index.scss";
