body {
  background: #e6ecf0 !important;
  color: #14171a;
  // font-size: 14px;
  // line-height: 20px;
  // overflow-y: scroll;
}

input,
textarea,
select,
button {
  resize: none;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0;
  outline: none;
}

textarea {
  width: 100%;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-image: initial;
}

.ant-modal-body {
  padding: 0;
}
