@mixin wordQfn() {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin dash-border($color: $assisBorderColor) {
  border: 1px dashed #{$color};
}

@mixin content-padding($top: 8, $right: 8, $bottom:8, $left: 8) {
  padding: #{$top}px #{$right}px #{$bottom}px #{$left}px;
}
