@import '../../styles/variable.scss';
@import '../../styles/mixin.scss';

$prefixCls: i-say;

.#{$prefixCls} {
    padding: 0 #{$inner-block-padding}px  #{$inner-block-padding}px  #{$inner-block-padding}px;
    background-color: $secondaryNavBG;

    &-title {
        position: relative;
        height: 30px;
        line-height: 30px;
        color: $primaryFontColor;

        &-item {
        }

        li {
            display: inline-block;
        }
    }

    &-text {
        font-size: 0;
        // @include border-radius();
        overflow: hidden;

        // &::after {
        //     display: none\9;
        //     content: "";
        //     position: absolute;
        //     // bottom: -4px;
        //     top: -10px;
        //     left: 0px;
        //     height: 7px;
        //     width: 7px;
        //     border: 1px solid #{$mainBorderColor};
        //     border-width: 1px 1px 0 0;
        //     background: $white;
        //     transform: rotate(-45deg);
        // }
    }

    textarea {
        position: relative;
        border: none;
        padding: 7px 25px 7px 7px;
        font-size: 14px;
        @include normal-border();
        // float: left;

        &:focus {
            box-shadow: none;
        }
    }
    
    &-footer {
        margin-top: 8px;
        padding: 0 8px;
        // border-left: 1px solid #{$mainBorderColor};
        // border-right: 1px solid #{$mainBorderColor};
        // border-bottom: 1px solid #{$mainBorderColor};
        // background-color: $color13;

        .submit-btn {
            float: right;
        }
    }
}
