@import '../../styles/variable.scss';
@import '../../styles/mixin.scss';

$prefixCls: i-say;

.#{$prefixCls} {
    &-text {
        @include normal-border();
    }

    textarea {
        border: none;
        padding: 7px 25px 7px 7px;
        // float: left;
    }
    
    &-footer {
        padding: 8px;
        border-left: 1px solid #{$mainBorderColor};
        border-right: 1px solid #{$mainBorderColor};
        border-bottom: 1px solid #{$mainBorderColor};
        background-color: $color13;

        .submit-btn {
            float: right;
        }
    }
}
