@import '../../styles/variable.scss';

$module: sider-nav;

.#{$module} {
    &-container {
        // padding: 10px;
        background-color: $blockNormalBG;
    }

    &-group {
        &-item {
            cursor: pointer;
        }
    }
}