@import '../../styles/variable.scss';

$prefixCls: default;

.#{$prefixCls} {
    &-accounting {
        &-filter {
            height: 100px;
            background-color: #{$color3};
        }
    }
}