@import '../../styles/variable.scss';
@import '../../styles/mixin.scss';

$prefixCls: account-rule;

.#{$prefixCls} {
    &-filter {
        @include dash-border();
        @include content-padding();
        background-color: $blockNormalBG;
        margin: 30px 0;

        .filter {
            &-item {
                padding: 4px;
            }
        }
    }
}