@import '../../../styles/variable.scss';

.default-main-sider {
    width: #{$pageBodyWidth}px;
    margin: #{$block-space}px auto 0;
}

.default {
    &-main-wrapper, &-sider-wrapper {
        // padding: 0 #{$inner-block-padding}px;
    }

    &-sider-wrapper {
        padding: #{$block-space-mini}px;
    }
}