@import '../../../styles/variable.scss';

.s-m-page {
    position: relative;

    &-sider {
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .logo {
            height: 72px;
            background: rgba($color1, .8);
            padding: 16px;
        }

        .footer {
            height: 48px;
            background-color: $color18;
        }
    }

    &-menus {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 90px;
        background-color: $color3;
    }

    &-menus-sub {
        position: fixed;
        top: 0;
        left: 90px;
        bottom: 0;
        width: 90px;
        background-color: $color3;
    }

    &-page {
        margin: 0 0 0 90px;

        &-has-sub {
            margin-left: 180px;
        }
    }
}