/* import public variable */
@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';

$moduleName: home;

.#{$moduleName} {
  &-banner {
    height: 160px;
  }
  &-block {
    border: 1px dashed #{$assisBorderColor};
    margin-top: 10px;
    min-height: 160px;

    .block {
      padding: 10px;
      &-header {
        height: 30px;
        line-height: 30px;
        
        &-title {
          display: inline-block;
          width: 100px;
          @include font-size-18();
          @include font-bold();
        }

        &-more {

        }
      }

      &-body {
        margin-top: 10px;
        
        &-item {
          position: relative;
          &-showImg {
            position: absolute;
            // display: inline-block;
            // float: left;
          }
          &-content {
            margin-left: 130px;
            // float: left;
            .title {
              @include font-size-16();
            }
            .content {
              margin-top: 8px;
              min-height: 80px;
              max-height: 100px;
              overflow: hidden;
            }
            .comment {
              margin-top: 8px;
            }
          }
          img {
            width: 100px;
          }
        }
      }
    }
  }
  .ant-carousel .slick-slide {
      text-align: center;
      height: 160px;
      line-height: 160px;
      background: #{$color7};
      overflow: hidden;
  }
    
  .ant-carousel .slick-slide h3 {
      color: #{$white};
  }
}

