@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';

$moduleName: qas;

.#{$moduleName} {
    &-body {
        &-question {
            &-area {
                margin-bottom: 10px;
            }
        }
    }

    .q-item {
        // @include normal-border();
        padding: 10px;

        &-user {
            height: 32px;
            line-height: 32px;
            margin-bottom: 10px;

            .profile {
                // display: inline-block;
                margin-right: 10px;
                float: left;
                line-height: 0;
            }

            .name, .updateDate {
                display: inline-block;
                height: 32px;
                line-height: 32px;
                margin-right: 6px;
            }

            .updateDate {
                color: $thirdFontColor;
            }
        }

        &-title {
            @include font-size-16();
            font-weight: bold;
            margin-bottom: 10px;
        }

        &-text {
            margin-bottom: 10px;
        }

        &-operaters {

            li {
                display: inline-block;
                margin-right: 18px;
                cursor: pointer;
                // min-width: 80px;
            }
        }
    }

    &-dialog-form {
        &-braft-wrapper {
            // position: relative;
            height: auto;
            // margin-top: 50px;
            padding: 5px;
            overflow: hidden;
            border: solid 1px $mainBorderColor;
            border-radius: 4px;
        }
    }
}