@import '../../../styles/variable.scss';
@import '../../../styles/mixin.scss';

$moduleName: qas;

.#{$moduleName} {
    &-body {
        &-say {
            // padding: 0 #{$inner-block-padding}px  #{$inner-block-padding}px  #{$inner-block-padding}px;
            background-color: $secondaryNavBG;
            margin-bottom: 10px;
        }
    }

    .q-list {
        &-list {
            padding: 0 #{$inner-block-padding}px;
            background-color: $blockNormalBG;
        }

        &-pagination {
            text-align: center;

            .ant-pagination-prev .ant-pagination-item-link, 
            .ant-pagination-next .ant-pagination-item-link, 
            .ant-pagination-item {
                background: transparent;
            }

            .ant-pagination-item-active {
                a {
                    color: $primaryFontColor;
                }
            }
        }
    }

    .q-item {
        // @include normal-border();
        padding: 10px;
        cursor: pointer;
    }

    &-replay-dialog {
        &-wrapper .qas-question {
            padding: 10px 20px;
        }
    }

    &-question {
        

        &-user {
            height: 40px;
            line-height: 40px;
            margin-bottom: 10px;

            .profile {
                // display: inline-block;
                margin-right: 10px;
                float: left;
                line-height: 0;
            }

            .name, .updateDate {
                display: inline-block;
                height: 32px;
                line-height: 32px;
                margin-right: 6px;
            }

            .updateDate {
                color: $thirdFontColor;
            }
        }

        &-title {
            @include font-size-16();
            font-weight: bold;
            margin-bottom: 10px;
        }

        &-text {
            margin-bottom: 10px;
        }
    }

    &-dialog-form {
        &-wrapper {
            padding: 20px 20px 0 20px;

            .ant-form {
                overflow: hidden;
            }
        }
    }

    .q-detail {
        &-dialog {
            &-wrapper {
                min-height: 200px;
            }

            &-spin-wrapper {
                width: 100%;
                height: 200px;
                padding: 80px;
                text-align: center;
                background: rgba($grayColor, 0.2);
            }
        }

        &-wrapper {
            padding: #{$inner-block-padding}px 0;
        }

        &-userInfo {
            height: 40px;
            line-height: 40px;

            .profile {
                // display: inline-block;
                margin-right: 10px;
                float: left;
                line-height: 0;
            }

            .name {
                display: inline-block;
                height: 32px;
                line-height: 32px;
                margin-right: 6px;
            }
        }

        &-userInfo, &-content, &-updateDate, &-operators, &-doReply, &-replyList {
            margin-bottom: #{$block-space-mini}px;
        }

        &-userInfo, &-content, &-updateDate, &-operators{
            padding: 0 #{$inner-block-padding}px;
        }

        &-updateDate {
            color: $thirdFontColor;
        }

        &-feedbackCount {

        }

        &-operators {

        }

        &-doReply {

        }

        &-replyList {

        }
    }

    .answer-item {
        &-wrapper {
            position: relative;
            padding: 0 #{$inner-block-padding}px;
            margin-top: #{$block-space}px;
        }

        &-profile {
            // display: inline-block;
            position: absolute;
            width: 40px;
            // float: left;
        }

        &-content {
            display: inline-block;
            margin-left: 60px; 
        }
    }

    .ant-modal {
        min-height: 200px;
    }
}